doctype html
html(lang="en")
  head
    style
      include index.css
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    
    
  body
    // Hiển thị thông số
    .cardBox-dashboard
      .card-dashboard
        div
          .number-dashboard=data.total_friend
          .cardName-dashboard Total Friend
        .iconBox-dashboard
          i.fa-solid.fa-users
      .card-dashboard
        div
          .number-dashboard=data.total_interaction
          .cardName-dashboard Total Interaction
        .iconBox-dashboard
          i.fa-solid.fa-thumbs-up
      .card-dashboard
        div
          .number-dashboard=data.new_friend
          .cardName-dashboard Total Comment
        .iconBox-dashboard
          i.fa-solid.fa-comment
      .card-dashboard
        div
          .number-dashboard=data.non_interaction
          .cardName-dashboard Non-Interaction
        .iconBox-dashboard
          i.fa-solid.fa-thumbs-down
    // Biểu đồ
    .graphBox
      .box
        canvas#newfriend 
      .box
        canvas#topuser
    // Top user
    .details-dashboard
      .topuser-dashboard
        .cardHeader-dashboard
          h2 List Friend Non-Interaction
        table
          thead
            tr
              td STT
              td ID
              td NAME
              td INTERACTION
              td COMMENT
          tbody
            for user, index  in data.list_friend_non_interaction
              tr
                td=index+1
                td=user.idUser
                td=user.name
                td=user.react
                td=user.comment
            // Thêm các hàng dữ liệu khác ở đây...
  input( type ="hidden" data_column = JSON.stringify(data2))
  input( type ="hidden" data_line = JSON.stringify(data3))
  script(src="https://cdn.jsdelivr.net/npm/chart.js")
  script(src="my_chart.js")
  
  script(src="https://kit.fontawesome.com/cad3eacc10.js", crossorigin="anonymous")
